<% title "Запрос на инструкции по подтверждению электронной почты" %>
<% noindex 'googlebot' %>

<%
	input_html = {:class => "form-control  "}
	link_to_html = {:class => "btn btn-link", :type => 'button'}
	submit_html = {:class => "btn btn-primary btn-group-justified"}
	label_html = {:class => "control-label "}
%>


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => "" }) do |f| %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) if current_user %>

   <% if !devise_error_messages!.blank? %>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<%= devise_error_messages! %>
	</div>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  	<%= f.label :email, label_html %>
  		<%= f.email_field( :email, {autofocus: true}.merge(input_html) ) %>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
  		<%= f.submit "Повторно выслать подтверждающие инструкции", submit_html %>
  <% end %>

<% end %>

<%= render "devise/shared/links" %>
