<% def field_temp(show_body = true) %>
	<% if show_body %>
	  <div class="row">
	  	  <div class="col-xs-4"></div>
		  <div class="col-xs-4 center-block">
			  	<% yield %>
	  	  </div>
	  	  <div class="col-xs-4"></div>
	  </div>
	<% end %>
<% end %>

<%
	input_html = {:class => "form-control  "}
	link_to_html = {:class => "btn btn-link", :type => 'button'}
	submit_html = {:class => "btn btn-primary"}
	label_html = {:class => "control-label "}
	s = session[:filtr]['registration_option_filtr'] || {}
	checkbox_html  = {:class => "form-control updatable ", :action_name => '/users/new', :filtr_name => "registration_option_filtr"}.
		merge(s["register"] == 'true' ? {:checked => 'checked'} : {} )
	
	step = (s["register"] == 'true' ? 1 : 0)
	
%>

<% title ["Отправка электронной почты", "Регистрация"][step] %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "" }) do |f| %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) if current_user %>

   <% if !devise_error_messages!.blank? %>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<%= devise_error_messages! %>
	</div>
  <% end %>
  <%= session[:filtr] if false %>
  <% field_temp [true,  false][step] do %>
	  	<%= f.label 'register', ["Хотите зарегистрироваться?", "Отказаться от регистрации"][step], label_html %>
  		<%= check_box("registration_option_filtr", "register", checkbox_html, true, false ) %>
  <% end %>

  <% field_temp [false, true][step] do %>
	  	<%= f.label :name, label_html %>
  		<%= f.text_field( :name, {autofocus: true }.merge(input_html) ) %>
  <% end %>

  <% field_temp [true, true][step] do %>
	  	<%= f.label :email, label_html %>
  		<%= f.email_field( :email, {}.merge(input_html) ) %>
  <% end %>

  <% field_temp [false, true][step] do %>
	  	<%= f.label :password, "Новый пароль", label_html %>
	  	<% if @validatable %><i>(<%= @minimum_password_length %> знаков минимум)</i><% end %>
	    <%= f.password_field :password, {autocomplete: "off"}.merge(input_html) %>
  <% end %>

  <% field_temp [false, true][step] do %>
	  	<%= f.label :password_confirmation, "Подтверждение нового пароля", label_html %>
	    <%= f.password_field :password_confirmation, {autocomplete: "off"}.merge(input_html) %>
  <% end %>

  <% field_temp [true, true][step]do %>
  		<%= f.submit ["Отправить", "Зарегистрировать"][step], submit_html %>
  <% end %>

<% end %>

<%= render "devise/shared/links" if [false, true][step] %>
