<%
style_table = [
   ]

form_html_options = {:class => ""} 
form_html_options = form_html_options.merge(html) if local_assigns[:html]
form_html_options_1 = form_html_options.collect { |key, value| "#{key}='#{value}'" }.join(" ")


%>
<div id=<%= form_item.form_name %>_show <%= form_html_options_1.to_s.html_safe %> >
	<% if form_item.caption %> 
	  <legend><%= form_item.caption %></legend>
	<% end %>

	<% form_item.fields(form_item.model) do |label, field| %>
	  <div class="row">
	      <p class="col-xs-5"><%= label %></p>
	      <p class="col-xs-6"><%= field %></p>
	  </div>
    <% end if form_item.model %>
</div>

