<%
panels_in_row = local_assigns[:panels_in_row] ? local_assigns[:panels_in_row] : 3


table_html_options = {:id =>table.table_name, :class => 'table table-bordered table-hover table-condensed'}
table_html_options = form_html_options.merge(html) if local_assigns[:html]

%>
<div class="table-responsive1">
	<div class="text-center">
			<%= will_paginate(table.model, :class=>'pagination text-center pagin_border', :remote => true, :param_name => table.pagination_param_name ) %>
	</div>	
	
	<% table.model.in_groups_of(panels_in_row) do |row_items| %>
	<div class="row equal-group" >
		<% row_items.each do |item| %>
		  <% if item %>
  		  <div class="col-md-<%= 12 / panels_in_row %> col-sm-<%= 8 / panels_in_row %> col-xs-12">
  		  	<% active = (item.id == session[:current_id][table.current_id_name].to_i ? "active" : "") %>
			<div class="panel panel-default equal-group-column" <%= table.row_details(item) %> >
			  <div class="panel-heading  <%= active %> equal-item-no-flex"><%= table.fields(item)[:head] %></div>
			  <ul class="list-group equal-item-flex" >
			  <% table.fields(item)[:body].each do |body_item| %>
			  	<li class="list-group-item"><%= body_item %></li>
			  <% end if table.fields(item)[:body] %>
			  </ul>
			  
			  <div class="panel-footer equal-item-no-flex"><%= table.fields(item)[:footer] %></div>
			</div>
		  </div>
		  <% end %>
		<% end %>
	</div>	
	<% end %>

</div>