<% 
	templ = 
	content_tag(:div, {:class => "popover", :role => "tooltip", :style=>"max-width: 70%;"}) do
		content_tag(:div, "", :class => "arrow") +
		content_tag(:h3, "", :class => "popover-title") +
		content_tag(:div, "", :class => "popover-content")
	end
%>

<a 
	tabindex="0" 
	class="<%= popover[:button_class] %>" 
	role="button" 
	data-toggle="popover" 
	data-trigger="focus" 
	data-placement="top"
	title="<%= popover[:title] %>" 
	data-content="<%= popover[:content] %>"
	data-template='<%= templ %>' 
	data-html='<%= popover[:html] %>' >
	
	<%= popover[:button_symbol] %>
	<%= popover[:button_name] %>
</a>

