<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Поступило новое обращение ID: <%= @customer_demand.id %> от пользователя,
      <br>
    </p>
    <div>
    	  <p>Тип сообщения: <%= @customer_demand.type.try(:name) || @customer_demand.type_id %></p>
    </div>
    <div>
    	  <p>Тема сообщения:</p><%= @customer_demand.info["title"] %>
    </div>
    <div>
    	  <p>Тело сообщения:</p><%= @customer_demand.info["message"] %>
    </div>

    <div>
    	  <p>All info:</p><%= @customer_demand.info %>
    </div>
  </body>
</html>
