<% special_operator_name = case @operator.try(:name)
  when 'TELE2'; 'ТЕЛЕ 2';
  when 'Билайн'; 'Beeline';
  when 'МТС'; 'MTS';
  when 'Мегафон'; 'Megafon';
  else
  	@operator.try(:name)
  end 
%>

<% set_meta_tags site: "MyTarifs.ru", reverse: true %>
<% caption = "Все тарифы #{@operator.try(:name)} #{region_and_privacy_tag}: описание, мобильные тарифы #{@operator.try(:name)}" %>
<% title "Тарифы #{@operator.try(:name)} #{region_and_privacy_tag} #{pagination_page_name('tarif_classes_by_operator_page')} - \
	описание всех тарифных планов и опций от оператора связи #{special_operator_name} #{region_and_privacy_tag}" %>
<% description "Список тарифов и опций #{@operator.try(:name)}: описание всех тарифных планов мобильного оператора #{special_operator_name}. Mytarifs - \
				сервис по подбору тарифов и опций для «МТС», «Билайн», «Мегафон», TELE2." %>
<% keywords caption.mb_chars.downcase.to_s %>
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1 class=""> <%= caption %></h1>
            <span class="h5">Здесь вы можете выбрать и посмотреть подробное описание тарифов и опций. 
            	Найти нужный тариф можно с помощью фильтра</span>
            <hr>
        </div>
        <%= render :partial => "application/shared/social_share_buttons" %>
    </div>
</header>

<div class="row text-center">
	<%= show_cpanet_program_item_with_html(:tarif_classes, :under_h1) if show_cpanet_adv and ENV["RAILS_ENV"] == "production" %>	
	<%= render :partial => "tarif_classes/tarif_class_description/yandex_rtb_test" if ENV["RAILS_ENV"] == "development" %>
</div>

<br />
<div class="panel panel-success">
	<div class="panel-body">
		<div class="h4 text-center1 text-success">Выберите параметры отбора тарифов и опций</div>
		<%= render :partial => 'tarif_class_by_operator_filtr', 
			:layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => tarif_class_by_operator_filtr}%>
	</div>
</div>

<%= render :partial => 'tarif_classes_by_operator', :layout => 'application/layouts/model_table', :locals => {:table => tarif_classes_by_operator}%>

<% case %>
<% when @operator.id == Category::Operator::Const::Tele2 %>
	<% case %>
	<% when m_region == 'sankt_peterburg_i_oblast' %>
		<p>Мобильная связь Теле2 появилась в России в 2001 году, когда международный оператор выкупил часть коммуникационных сетей. Сегодня услугами оператора пользуются в 67 регионах, но первоначально компания охватывала только 12 субъектов федерации, причем Москва и Московская область не входили в их число. Зато Санкт-Петербург стал одним из первых городов, в котором абоненты подключились к знаменитому оператору. Компания постоянно совершенствуется, улучшая качество связи и перечень услуг.</p>
		<p> Условия тарифов в регионах немного отличаются, некоторые услуги доступны в одном городе и недоступны в других. Поэтому для вашего удобства мы собрали все действующие в Ленинградской области тарифы оператора на этой странице. А чтобы упростить вам поиск, работает система фильтров. Больше не нужно долго размышлять, какой тариф соответствует вашим требованиям. Настраивайте фильтры, и сервис даст вам готовый ответ.</p>
		<h2>Как пользоваться фильтрами</h2>
		<ul>
		  <li>Выберите регион.</li>
		  <li>Тип услуги: тариф, тарифная опция, общая услуга.</li>
		  <li>Если вы ищете опцию или услугу, укажите также категорию: звонки, интернет, роуминг и т.д.</li>
		  <li>Укажите статус и количество записей на странице.</li>
		  <li>Система автоматически отберет для вас подходящие предложения.</li>
		</ul>
		<p>Всего для жителей Петербурга оператор предлагает 7 тарифов: «Чёрный», «Очень Чёрный», «Самый Чёрный», «СверхЧёрный», «Беспредельно Чёрный», «Оранжевый» и «Интернет для устройств». Чтобы прочесть подробное описание каждого тарифа, кликните по его названию в списке. Появится таблица с актуальными именно для вашего региона ценами, а также статусом предложения. По умолчанию сервис покажет цены без дополнительных опций, но вы можете сразу же рассчитать стоимость связи вместе с опциями, если они предусмотрены для этого пакета.</p>
	<% else %>
		<p> Федеральный оператор сотовой связи ТЕЛЕ2 сегодня работает более чем в 60-ти регионах России. Компания предлагает своим абонентам очень выгодные звонки как в национальном, так и международном роуминге. Все тарифы TELE2 выгодны для тех, кому требуется постоянный доступ к Интернету. </p>
		<p> На сегодняшний день в распоряжении оператора находятся частоты, необходимые для функционирования мобильных сетей связи в стандартах 3G/4G по всем федеральным округам и в столице России. </p>
		<p> Любовь абонентов к тарифам от ТЕЛЕ2 вполне заслужена и основана на высоком качестве предоставляемых услуг и ориентированности на людей с любыми финансовыми возможностями. Регулярно компания совершенствует свою инфраструктуру, расширяя зону покрытия. </p>
		<p> На нашем сайте представлены все существующие на сегодня тарифные планы от оператора ТЕЛЕ2. Настроив фильтр, вы можете подобрать вариант конкретно под свои потребности. В удобной таблице будет выведена основная информация по услугам, входящим в тарифные план и их стоимости. </p>
		<p> Все тарифы оператора TELE2 доступны как для физических лиц, так и корпоративных клиентов. Большое внимание уделяется удешевлению связи в национальном и международном роуминге. Что касается доступа к Интернету, то компания обеспечила высокую скорость в 61-м регионе Российской Федерации. </p>
	<% end %>
<% when @operator.id == Category::Operator::Const::Beeline %>
	<p> Тарифы Билайн широко известны как в Российской Федерации, так и далеко за ее пределами. Оператор сотовой связи предлагает ряд выгодных решений для физических лиц и представителей бизнеса. Стабильность связи, безупречный уровень сервиса и приемлемая стоимость услуг – это то, чем руководствуется Beeline на протяжении всего срока своего существования. </p>
	<p> В настоящее время все тарифы от Билайн для телефон или планшета – это оптимальный выбор для звонков по России, Европе и всему миру. Некоторые за небольшую абонентскую плату позволяют звонить в национальном роуминге абсолютно бесплатно. Владельцам современных смартфонов и планшетных компьютеров выгодны пакеты предоплаченного Интернет-трафика. Они позволяют практически без ограничений пользоваться Интернетом на самой высокой скорости. </p>
	<p> Воспользовавшись формой подбора тарифов на нашем сайте, пользователи могут подобрать план в соответствии со своими финансовыми возможностями и потребностями в связи. В базу включены абсолютно все тарифы Билайн для физических лиц и корпоративных клиентов, включая архивные. </p>
<% when @operator.id == Category::Operator::Const::Megafon %>
	<p> В настоящее время аудитория компании Мегафон превышает 76 миллионов человек и продолжает расти. По статистике, порядка 30% всех граждан России, пользующихся мобильной связью, доверяют именно этому оператору. Тарифы Мегафон охватывают абонентов с любыми доходами и позволяет недорого звонить как в национальном, так и международном роуминге. Сегодня компания предлагает своим клиентам роуминг более чем в 200-та странах мира. </p>
	<p> Очень интересной и полезной является программа «МультиФон», с помощью которой абоненты могут пользоваться всеми прелестями IP-телефонии. В сетке всех тарифов от Мегафона представлено большое количество тарифов для звонков внутри сети, на номера других операторов, вызовов по СНГ и Европе. </p>
	<p>Очень привлекательны пакеты бесплатных текстовых сообщений и Интернет-трафика. При желании, за определенную плату можно подключить безлимитное общение. Это позволит звонить на номера Мегафон сколько угодно долго и без ограничения по времени. </p>
	<p> Регулярно для поощрения своих клиентов и привлечения новых абонентов, компания проводит интересные акции и начисляет бонусы. В частности, каждый желающий может активировать предложение «Мегафон-Бонус», и начать получать бонусные балы за пользования любыми платными услугами. Далее баллы можно обменять на ценные подарки. </p>
	<p> Если у вас возникли сложности с подбором тарифов Мегафон, то вы всегда можете воспользоваться специальным инструментом на нашем сайте. </p>
<% when @operator.id == Category::Operator::Const::Mts %>
	<p> Все тарифы от МТС представлены на нашем сайте.  Компания является самым крупным оператором сотовой связи в Российской Федерации. За годы своего существования она прочно внедрилась на рынки стран СНГ, предлагая пользователям высококачественную связь по доступным ценам. Огромное внимание руководство компании уделяло и уделяет доступу к сети Интернет. Стабильный высокоскоростной доступ налажен в большинстве регионов России. </p>
	<p> Своим абонентам компания предлагает ряд тарифных планов с предоплаченными пакетами данных. При их подключении пользователи получают возможность за небольшие деньги пользоваться видеосвязью, слушать музыку и смотреть фильмы в режиме онлайн. </p>
	<p> Регулярно компания МТС обновляет свою инфраструктуру и расширяет зону покрытия. Абонентам, часто ездящим по России и заграницу, предлагается очень выгодный роуминг. Для корпоративных клиентов действуют специальные тарифные предложения с безлимитным общением. Огромное количество тарифных планов от МТС позволяет гражданам подобрать наиболее удобное и выгодное решение конкретно под свои нужды. </p>
	<p> Отдельного внимания заслуживает программа лояльности. Она позволяет накапливать баллы и впоследствии менять их на услуги связи и другие ценные товары. Наш ресурс предлагает вам облегчить проблему выбора тарифа, воспользовавшись специальным инструментом. Он дает возможность сравнить все тарифы МТС и выбрать наиболее выгодный. </p>
<% end %>

<div class="row text-center">
	<%= show_cpanet_program_item_with_html(:tarif_classes, :bottom) if show_cpanet_adv and ENV["RAILS_ENV"] == "production" %>	
	<%= render :partial => "tarif_classes/tarif_class_description/yandex_rtb_test" if ENV["RAILS_ENV"] == "development" %>
</div>

<br />

<%= render :partial => "application/shared/social_share_buttons" %>

<br />
<%= render :partial => "application/shared/hypercomments" %>

