<% title "Рейтинг, описание лучших операторов мобильной связи #{region_and_privacy_tag}" %>
<% description "Рейтинг, описание лучших операторов мобильной связи #{region_and_privacy_tag}. www.mytarifs.ru — сервис по подбору тарифов и опций для \
				мобильных операторов МТС, «Билайн», «Мегафон», TELE2. Помогаем принять правильное решение! Предлагаем широкий \
				выбор средств для анализа услуг в области мобильной связи." %>
<% keywords "рейтинг операторов сотовой связи тарифов мобильных лучшие #{region_and_privacy_tag}" %>	
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1>Рейтинг лучших операторов мобильной связи <%= "#{region_and_privacy_tag}" %></h1>
            <span class="h5">Рейтинг операторов и тарифов подготовлен следующим образом.
				Мы смоделировали несколько типичных моделей поведения пользователей мобильной связи.
				После этого для каждого оператора выбрали лучший тариф и опции по стоимости пользования.
				При выборе лучшего тарифа мы накладывали ограничения по набору услуг операторов.
				Детали сравнения указаны в описании сравнения</span>
            <hr>
            <%= render :partial => "application/shared/social_share_buttons" %>
<!--
            <div class="h4">Рейтинг не учитывает ваши особенности пользования мобильной связи. Поэтому мы предлагаем вам подобрать тариф и опции.</div>
            <%= link_to "Начать подбор тарифа", customer_calls_set_calls_generation_params_path, {:class => "btn btn-primary btn-xl"} %>
-->            
        </div>
        
    </div>
</header>

<p>
<%= link_to( t('.new_comparison_optimization_button'), new_comparison_optimization_path(hash_with_region_and_privacy), 
	{:class => "btn btn-success", :type => 'button'})  if user_type == :admin %>

<%= link_to( "Calculate Ratings", comparison_calculate_ratings_path(hash_with_region_and_privacy), 
	{:class => "btn btn-success", :type => 'button'})  if user_type == :admin %>

<% render :partial => 'comparison/optimizations/information/index' %>
</p>

<%= render :partial => 'optimizations_panels', :layout => 'application/layouts/model_panels', 
		:locals => {:table => controller.comparison_optimizations_table, :panels_in_row => 2}  %>


<p>Стремительное развитие телекоммуникационного рынка привело к обилию поставщиков услуг. Быстро определиться с выбором поможет рейтинг мобильных операторов от сайта www.mytarifs.ru.</p> 

<p>Предложения на рынке связи отличаются финансовыми условиями, пакетами предоставляемых сервисов, иными параметрами. Помимо возможности телефонных переговоров, наиболее востребованными продуктами являются SMS- и MMS-общение, все виды роуминга (национальный, внутрисетевой, международный), доступ в интернет.</p> 

<p>Поэтому при выборе лучшего предложения нужно руководствоваться собственными требованиями к мобильной связи, а также условиями от операторов. Последние можно оценить с помощью представленного рейтинга. Важно также учесть территориальные особенности. Например, для абонентов Москвы, которые часто и помногу бывают в разъездах, могут делаться специальные предложения.</p> 

<p>На портале www.mytarifs.ru реализована возможность наглядного сравнения нескольких поставщиков услуг по основным параметрам. Это позволяет сформировать собственный рейтинг тарифов сотовых операторов, при составлении которого будут учтены показатели и характеристики, актуальные для конкретного абонента.</p> 

<p>Инструментарий прост и очевиден: интересующая информация выводится несколькими щелчками мыши. Рейтинг лучших операторов сотовой связи — это бесплатная услуга. Ею можно воспользоваться в любое время как из Москвы, так и из иных регионов. Обращаясь к нему, вы получаете уникальную возможность легко и быстро сориентироваться в особенностях предложений на рынке телекоммуникационных услуг, и на основании актуальной информации принять взвешенное решение о выборе в пользу конкретного поставщика. 
Данные, используемые для формирования рейтинга операторов сотовой связи, постоянно обновляются, что гарантирует полноту и объективность результата.</p>
