<% title t('.title') %>
<% noindex 'googlebot' %>

<p>
	<%	link_to_html = {:class => "btn btn-link", :type => 'button'} %>
</p>

<%= render :partial => 'user', :layout => 'application/layouts/model_show', :locals => {:form_item => controller.user_form} %>

<%= render( :partial => 'users/account/allowed_action_quantities', :layout => 'application/layouts/model_show', :locals => {:form_item => controller.user_form}) if user_type == :admin %>

<%= render :partial => 'customer/infos/info/general', :layout => 'application/layouts/model_show', :locals => {:form_item => controller.customer_info_form(:general)} %>

<p>
	<%= link_to( 'Редактировать профиль', edit_user_path(controller.user), link_to_html )%> |
	<%= link_to 'На главную страницу', root_with_region_and_privacy(m_privacy, m_region), link_to_html %>
	<%= link_to 'Список пользователей', users_path, link_to_html if user_type == :admin %>
</p>