<p>Здравствуйте, <%= @email %>!</p>

<% if @resource.encrypted_password.blank? %>
	<p>Вы получили это письмо, потому что вы предоставили свою электронную почту на сайте 
		<%= link_to 'www.myrifs.ru', root_url %> для получения повторного доступа к своим данным на сайте.
	</p>
	<p>
		Мы создали для вас аккаунт с логином <%= @email %>, БЕЗ ПАРОЛЯ.  Пароль вы можете добавить сами в профиле пользователя.
	</p>
	<p>
		Аккаунт будет действовать <%= Devise.allow_unconfirmed_access_for.to_s.to_i/60/60/24 %> дней. Для продолжения действия аккаунта вам надо 
		на больший срок вам надо подтвердить вашу электронную почту, нажав на ссылку ниже.  
	</p>
	
	<p><%= link_to 'Подтвердить электронную почту', confirmation_url(@resource, confirmation_token: @token) %></p>
<% else %>
	<p>Вы можете подтвердить вашу электронную почту, нажав на ссылку ниже:</p>
	
	<p><%= link_to 'Подтвердить электронную почту', confirmation_url(@resource, confirmation_token: @token) %></p>
<% end %>
