<ul class="dropdown-menu">
	<li><%= link_to  "Вопросы и ответы", content_questions_and_answers_path(hash_with_region_and_privacy) %></li>
	<li><%= link_to t(:home_news_path), home_news_path(hash_with_region_and_privacy) %></li>
	<li><%= link_to "Описание сервисов сайта", introduction_after_first_calculations_path(hash_with_region_and_privacy) %></li>
	<li><%= link_to t(:home_detailed_description_path), home_detailed_description_path(hash_with_region_and_privacy) %></li>
	<li><%= link_to t(:letter_to_admin), new_customer_demand_path(hash_with_region_and_privacy), {:rel => "nofollow"} %></li>
	<li><%= link_to("Контакты", home_contacts_path(hash_with_region_and_privacy)) %></li>
	<li><%= link_to t(:new_customer_payments_path), new_customer_payments_path(hash_with_region_and_privacy), {:rel => "nofollow"} %></li>
</ul>

