<ul class="dropdown-menu ">
	<% if !current_user %>
		<li><%= link_to "Зарегистрироваться", new_user_registration_path, {:rel => "nofollow"} %></li>
		<li><%= link_to("Войти", login_path, {:rel => "nofollow"}) %></li>
	<% else %>
		<li><%= link_to t(:account_info), user_path(controller.current_user), {:rel => "nofollow"} %></li>
		<li><%= link_to t(:logout), logout_path, {:rel => "nofollow"} %></li>
	<% end %>

		<li><%= link_to "Список загрузок звонков", customer_call_runs_path(hash_with_region_and_privacy), {:rel => "nofollow"} %></li>
		<%if controller.customer_has_free_tarif_optimization_trials? or controller.customer_has_free_tarif_recalculation_trials? %>
			<li><%= link_to  "Список результатов подбора", result_runs_path(hash_with_region_and_privacy), {:rel => "nofollow"} %></li>
		<% end %>

</ul>
