<% title "Редактировать #{resource_name.to_s.humanize}" %>
<% noindex 'googlebot' %>

<%
	input_html = {:class => "form-control  "}
	link_to_html = {:class => "btn btn-link", :type => 'button'}
	submit_html = {:class => "btn btn-primary btn-group-justified"}
	label_html = {:class => "control-label "}
%>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => "" }) do |f| %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) if current_user %>

   <% if !devise_error_messages!.blank? %>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<%= devise_error_messages! %>
	</div>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  	<%= f.label :name, label_html %>
  		<%= f.text_field( :name, {autofocus: true }.merge(input_html) ) %>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  	<%= f.label :email, label_html %>
  		<%= f.email_field( :email, {:disabled => true}.merge(input_html) ) %>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  		Сейчас ожидаем подтверждение от: <%= resource.unconfirmed_email %>
	  <% end %>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  	<%= f.label :password, "Новый пароль", label_html %>
	  	<i>(оставьте пустым если не хотите менять)</i>
	    <%= f.password_field :password, {autofocus: true, autocomplete: "off"}.merge(input_html) %>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  	<%= f.label :password_confirmation, "Подтверждение нового пароля", label_html %>
	    <%= f.password_field :password_confirmation, {autocomplete: "off"}.merge(input_html) %>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
	  	<%= f.label :current_password, "Старый пароль", label_html %>
	  	<i>(нам нужен ваш пароль для подтверждения изменений)</i>
	    <%= f.password_field :current_password, {autocomplete: "off"}.merge(input_html) %>
  <% end %>

  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
  		<%= f.submit "Изменить", submit_html %>
  <% end %>
<% end %>

  <div class="row">
	<span class="h3">Удаление аккаунта</span>
	  <%= render( :layout => 'application/layouts/put_content_in_center_column') do %>
		<p>
			Хотите удалить ваш аккаунт? 
			<%= button_to "Удалить мой аккаунт", registration_path(resource_name), 
				data: { confirm: "Вы уверены?" }, method: :delete, :class => "btn btn-danger", :type => 'button' %>
		</p>
	  <% end %>
  </div>


